# dependencies
node_modules/
**/node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# assets
assets/fonts/
assets/images/
*.ttf
*.png
*.jpg
*.ico

# Expo shared
.expo-shared/

# logs
*.log

# System files
.env*
application.properties

# VS Code settings
.vscode/
.react/

# === Tests and snapshots ===
components/__tests__/
components/__tests__/__snapshots__/

# === Unused or template components ===
components/HelloWave.tsx
components/ParallaxScrollView.tsx
components/ThemedText.tsx
components/ThemedView.tsx
components/Collapsible.tsx
components/ExternalLink.tsx
components/HapticTab.tsx
components/ui/IconSymbol.ios.tsx
components/ui/IconSymbol.tsx
components/ui/TabBarBackground.ios.tsx
components/ui/TabBarBackground.tsx

components/IconSymbol.ios.tsx
components/IconSymbol.tsx
components/TabBarBackground.ios.tsx
components/TabBarBackground.tsx

hooks/useColorScheme.ts
hooks/useColorScheme.web.ts
hooks/useThemeColor.ts

app-example


